.filterDiv1{
	padding-top:2.7em;padding-bottom: 1em;
}

.filterLabel1{
	font-weight: normal; font-size: 16px;
}

.filterSelect1{
	width: 10em; height: 2em; border-radius: 4px;font-weight: 100; margin-left: 19px;
}

.filterIcon1{
	padding-right: 10px;
    font-size: 1.5em;
}

td.myclass
{
  text-align:center;
  vertical-align:middle;
}

.empStatus label{
    padding-right: 5px;
}

.lvl label{
    padding-right: 5px;
}

#loader
{
  margin: auto;
  margin-top: 55px;
  vertical-align: middle;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #404040; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
