.filterDiv1{
	padding-top:2.7em;padding-bottom: 1em;
}

.filterLabel1{
	font-weight: normal; font-size: 16px;
}

.filterSelect1{
	width: 10em; height: 2em; border-radius: 4px;font-weight: 100; margin-left: 19px;
}

.filterIcon1{
	padding-right: 10px;
    font-size: 1.5em;
}

td.myclass
{
  text-align:center;
  vertical-align:middle;
}

.empStatus label{
    padding-right: 5px;
}

.lvl label{
    padding-right: 5px;
}
