@import "font-awesome.min";
@import "AdminLTE.min";
@import "toastr.min";
@import "sidebar";
@import "global";
@import "style";
@import "tooltipster.bundle";

a:active, a:visited, a:hover {
    text-decoration: none;
}

.tooltipp {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.tooltipp .tooltiptext {
    z-index: 999;
    width: 300px;
    display: none;
    position: fixed;
    border-radius: 6px;
    position: fixed;
    transition: opacity 0.3s;
    border: 1px solid #ccc;
    text-align: left;
    .panel-heading {
        background: #ccc;
        padding: 7px 10px;
    }
}

.tooltipp .tooltiptext::after {
    z-index: 999;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.ui-sortable{
  list-style: none;
  padding-left: 0px;
}

#table-deliveries thead{
    z-index: 2;
}

#table-deliveries th{
    z-index: 2;
}

.w-100{
    width: 100px;
}