body
{
  font-family: "Roboto";
}

.sidebar{
  padding: 0px;
  margin-top: 0px;
  min-height: 100vh !important;
    border-right: 1px solid #d2d2d2;
}
.navbar{
  margin-bottom: 0px !important;
}
.sidebar li a .caret {
    position: absolute;
    right: 24px;
    top: 18px;
}
.sidebar li{
  padding-top: 5px;
}
.sidebar li a {
  padding-left: 40px;
  font-weight: 500;
  color: #414141;
  border-bottom: 1px solid #d2d2d2;
}
.sidebar li ul{
  width: 100%;
  padding-top: 5px;
  padding-left:0px;
}
.sidebar li ul li{
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar li ul li:hover{
  background: #eee;
}
.panel-body{
  padding: 0px;
}
.sidebar ul{
  list-style: none;
}
.sidebar li ul li a{
  text-decoration: none;
  padding-left:60px;
}

.error
{
    padding: 5px 10px;
    text-align: center;
    color: #dd4b39;
    font-weight: 500;
    font-style: italic;
    margin: 10px 0px;
}

.table.table-bordered
{
    th
    {
        text-align: center;
    }
}

.control-checkbox
{
    cursor: pointer;
}
.control-checkbox input[type=checkbox] {
    display:none;
}

.control-checkbox input[type=checkbox] + label
{
    font-weight: normal;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.control-checkbox input[type=checkbox] + label:before {
    content: "";  
    display: inline-block;  
    width: 20px;  
    height: 20px;  
    vertical-align:middle;
    margin-right: 8px;  
    border-radius: 2px;  
    font-size: 18px;
    border: 1px solid #d2d2d2;
}

.control-checkbox input[type=checkbox]:checked + label:before {
    content:"\2714";
    color:#414141;
    text-align:center;
    line-height:20px;
}

.control-checkbox input[type=checkbox]:disabled + label:before {
  background: #eeeeee;
}

.edit-branch
{
  .nav-tabs
  {
    border: none;
    margin-bottom: 40px;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0px 1px 3px #d2d2d2;
    li
    {
      width: 25%;
      text-align: center;
      a
      {
        color: #414141;
        border: none;
        font-weight: 500;
        font-size: 14px;
        border-bottom: 2px solid transparent;
        padding: 10px 30px;
        border-radius: 0px;
        text-transform: uppercase;
      }
    }
    li:hover, li.active, li:focus
    {
      a
      {
        border: none;
        background: none;
        color: #2196F3;
        border-bottom: 2px solid #2196F3;
      }
    }
  }
}

.table.list-macs
{
  tbody
  {
    tr
    {
      border: 1px solid transparent;
      td
      {
        vertical-align: middle;
        border: none;
      }
    }
    tr.active
    {
      border: 1px solid #4CAF50;
      td
      {
        border-top: 1px solid #4CAF50;
        border-bottom: 1px solid #4CAF50;
      }
    }
  }
  .ip-address.active
  {
    .form-control
    {
      border-color: #FF5722;
    }
  }
}

.modal
{
  label
  {
    font-weight: normal;
  }
}

.alert
{
  font-weight: 500;
  font-style: italic;
  font-size: 13px;
  border-radius: 0px;
  border: none;
}
.control-label
{
  font-weight: 500;
  font-size: 13px;
}

.color-picker {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  vertical-align: middle;
}
.rate-page label {
  font-weight: 500;
  color: #555555;
  font-size: 13px;
}
.rate-page table th {
  font-weight: 500;
  color: #505050;
  font-size: 14px;
}
.modal {
  z-index: 999999 !important;
}
.radio-check-label {line-height: 25px;padding-top: 0 !important;}
img.business-one-logo {
  height: 80px;
  margin: 5px 0;
}
.navbar-nav > li > a{ padding-top:24px !important;  padding-bottom:24px !important; }
label.error {color: #ff0000;font-size: 12px !important;font-weight: normal;}