body
{
  font-family: "Roboto";
}

.sidebar{
  padding: 0px;
  margin-top: 0px;
  min-height: 100vh !important;
    border-right: 1px solid #d2d2d2;
}
.navbar{
  margin-bottom: 0px !important;
}
.sidebar li a .caret {
    position: absolute;
    right: 24px;
    top: 18px;
}
.sidebar li{
  padding-top: 5px;
}
.sidebar li a {
  padding-left: 40px;
  font-weight: 500;
  color: #414141;
  border-bottom: 1px solid #d2d2d2;
}
.sidebar li ul{
  width: 100%;
  padding-top: 5px;
  padding-left:0px;
}
.sidebar li ul li{
  padding-top: 10px;
  padding-bottom: 10px;
}
.sidebar li ul li:hover{
  background: #eee;
}
.panel-body{
  padding: 0px;
}
.sidebar ul{
  list-style: none;
}
.sidebar li ul li a{
  text-decoration: none;
  padding-left:60px;
}

.error
{
    padding: 5px 10px;
    text-align: center;
    color: #dd4b39;
    font-weight: 500;
    font-style: italic;
    margin: 10px 0px;
}

.table.table-bordered
{
    th
    {
        text-align: center;
    }
}

.control-checkbox
{
    cursor: pointer;
}
.control-checkbox input[type=checkbox] {
    display:none;
}

.control-checkbox input[type=checkbox] + label
{
    font-weight: normal;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.control-checkbox input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align:middle;
    margin-right: 8px;
    border-radius: 2px;
    font-size: 18px;
    border: 1px solid #d2d2d2;
}

.control-checkbox input[type=checkbox]:checked + label:before {
    content:"\2714";
    color:#414141;
    text-align:center;
    line-height:20px;
}

.control-checkbox input[type=checkbox]:disabled + label:before {
  background: #eeeeee;
}

.edit-branch
{
  .nav-tabs
  {
    border: none;
    margin-bottom: 40px;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: 0px 1px 3px #d2d2d2;
    li
    {
      width: 25%;
      text-align: center;
      a
      {
        color: #414141;
        border: none;
        font-weight: 500;
        font-size: 14px;
        border-bottom: 2px solid transparent;
        padding: 10px 30px;
        border-radius: 0px;
        text-transform: uppercase;
      }
    }
    li:hover, li.active, li:focus
    {
      a
      {
        border: none;
        background: none;
        color: #2196F3;
        border-bottom: 2px solid #2196F3;
      }
    }
  }
}

.table.list-macs
{
  tbody
  {
    tr
    {
      border: 1px solid transparent;
      td
      {
        vertical-align: middle;
        border: none;
      }
    }
    tr.active
    {
      border: 1px solid #4CAF50;
      td
      {
        border-top: 1px solid #4CAF50;
        border-bottom: 1px solid #4CAF50;
      }
    }
  }
  .ip-address.active
  {
    .form-control
    {
      border-color: #FF5722;
    }
  }
}

.modal
{
  label
  {
    font-weight: normal;
  }
}

.alert
{
  font-weight: 500;
  font-style: italic;
  font-size: 13px;
  border-radius: 0px;
  border: none;
}
.control-label
{
  font-weight: 500;
  font-size: 13px;
}

.color-picker {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  vertical-align: middle;
}
.rate-page label {
  font-weight: 500;
  color: #555555;
  font-size: 13px;
}
.rate-page table th {
  font-weight: 500;
  color: #505050;
  font-size: 14px;
}
.modal {
  z-index: 999999 !important;
}
.radio-check-label {line-height: 25px;padding-top: 0 !important;}
img.business-one-logo {
  height: 80px;
  margin: 5px 0;
}
.navbar-nav > li > a{ padding-top:24px !important;  padding-bottom:24px !important; }
label.error {color: #ff0000;font-size: 12px !important;font-weight: normal;}

.rate-page .table tr.selected .form-control{
  background: green;
  color: #FFF;
}


html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

.rown {
  margin-right: -15px;
  margin-left: -15px;
}

.rown:before, .rown:after {
  display: table;
  content: " ";
}

.rown:after {
  clear: both;
}

.radio-check-label {line-height: 25px;padding-top: 0 !important;}
img.business-one-logo {
 height: 80px;
 margin: 5px 0;
}
.navbar-nav > li > a{ padding-top:24px;  padding-bottom:24px; }
label.error {color: #ff0000;font-size: 12px;font-weight: normal;}
.click_module{cursor:pointer}
.margin-0{ margin: 0 !important; }

.container-fluid {padding-top: 90px;}
nav.navbar-static-top {position: fixed;width: 100%;z-index: 9;}
.registermargin-top{margin-top: 110px;}

/*****19-08-2017*******/
.sweet-overlay{  z-index: 99999 !important;}
.sweet-alert{  z-index:999999 !important;}
.visibility-hidden{ visibility: hidden; }
#page-content-togle-sidebar-sec h3.text-center {padding-top: 20px;}
.margin-top-20{margin-top:20px;}
.swal-wide{width: 560px !important; padding: 0 10px 10px 10px !important;}
.delete-title{float: left;margin-top: 0px;font-size: 20px;border-bottom: 1px solid #ccc;width: 100%;text-align: left;padding-bottom: 6px;}
.delete-text{clear: left;text-align: left;padding-top: 15px;font-size: 16px;}
.sa-button-container {text-align: right !important;border-top: 1px solid #ccc !important;padding-top: 6px !important;}
.btn-lg, .btn-group-lg>.btn {padding: 8px 15px !important;font-size: 15px !important;line-height: 1.0 !important;border-radius: 6px !important;}
.branchcheckbox{margin-left: 55px;}
span.error {
  color: #a94442;
  font-weight: 400;
}

.modal-body {
  max-height: 60vh;
  overflow: auto;
}

.modal-backdrop.fade.in {
  position: fixed;
}

.table-category tr.selected, .table-subcategory tr.selected {
  background: #b8d4ea;
}
.modal label {
  font-weight: normal;
}

.modal {
  z-index: 1050 !important;
}

#table-config tr td[rowspan]{
  text-align: center;
  vertical-align: middle;
}

#loader
{
  margin: auto;
  margin-top: 55px;
  vertical-align: middle;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #404040; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.DTFC_Cloned {
  background: #fff !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.ui-state-default{
  display: inline-block;
  width: 100%;
}

.ui-state-default div{
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 1px solid #d3d3d3;
}
